body{
    background-color: #E9ECEF;
}
.navbar{
    font-family: monospace;
    font-size: 110%;

}
.harita {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}
.harita iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}